VITE_LOG_API_BASE_URL=http://127.0.0.1:8006
VITE_CLOUD_API_BASE_URL=http://127.0.0.1:8004
VITE_EDGE_API_BASE_URL=http://127.0.0.1:8001
VITE_SCHEDULER_API_BASE_URL=http://127.0.0.1:8003
VITE_NETWORK_API_BASE_URL=http://127.0.0.1:8090

VITE_EDGE_NODE_IDS=edge_1
VITE_POLL_INTERVAL_MS=5000
VITE_STALE_THRESHOLD_MS=15000
VITE_OFFLINE_THRESHOLD_MS=30000

VITE_ENABLE_MOCK=false
VITE_ENABLE_CLOUD_ACTIONS=false